//region Empty Placeholder
[data-dt-empty-placeholder] {
	// The table wrapper is hidden if placeholder is visible
	& + .dataTables_wrapper {
		& > .row:first-child,
		& > .row:last-child {
			visibility: hidden;
		}
	}

	// The table wrapper is visible if placeholder is hidden
	&.d-none + .dataTables_wrapper.dt-initialized,
	&.hidden + .dataTables_wrapper.dt-initialized {
		& > .row:first-child,
		& > .row:last-child {
			visibility: visible;
		}
	}
}

.dataTables_wrapper {
	// The table wrapper is hidden until data exists
	&.dt-empty-placeholder-wrapper {
		display: none;
	}
}

.data-table {
	// The table itself is hidden until data is fetched
	&.dt-empty-placeholder {
		visibility: hidden;
	}
}
//endregion
