[data-dt-empty-placeholder] + .dataTables_wrapper > .row:first-child, [data-dt-empty-placeholder] + .dataTables_wrapper > .row:last-child {
  visibility: hidden;
}
[data-dt-empty-placeholder].d-none + .dataTables_wrapper.dt-initialized > .row:first-child, [data-dt-empty-placeholder].d-none + .dataTables_wrapper.dt-initialized > .row:last-child, [data-dt-empty-placeholder].hidden + .dataTables_wrapper.dt-initialized > .row:first-child, [data-dt-empty-placeholder].hidden + .dataTables_wrapper.dt-initialized > .row:last-child {
  visibility: visible;
}

.dataTables_wrapper.dt-empty-placeholder-wrapper {
  display: none;
}

.data-table.dt-empty-placeholder {
  visibility: hidden;
}

/*# sourceMappingURL=yii.dataTable.css.map */
